h1, h2, h3 {
  color: gray;
}

li {
  color: rgb(71, 67, 67);
  padding-top: 3px;
  font-size: 15px;
}

button {
  font-size:11px;
  margin-left: 5px;
}

.error {
  color:red;
  background: lightgray;
  font-size:20px;
  border-style:solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
}

.success {
  color:green;
  background: lightgray;
  font-size:20px;
  border-style:solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
}